<%- include('../partials/header') -%>
<%= errors %>
<div class="container">
      <form class="login-form" method="POST" action="/register"  >
        <h2 class="form-heading">アカウント作成</h2>
        <input name="username" type="text" class="form-control" placeholder="名前" />
        <input name="email" type="text" class="form-control" placeholder="メールアドレス" />
        <input name="question" type="text" class="form-control" placeholder="好きな食べ物(＊パスワードを忘れた際に必要になります)" />
        <input name="password" type="password" class="form-control" placeholder="パスワード" />
        <input name="passwordConfirm" type="password" class="form-control" placeholder="確認用パスワード" />

        <button class="btn btn-lg btn-primary btn-block" type="submit">登録</button>
      </form>
      <div style="align-text:center;margin-bottom:10px;margin-top:15px">アカウントをお持の方<a href='/login'>ログイン画面</a></div>
</div>
<%- include('../partials/footer') -%>