<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html">
    <meta name="description" content="RegisterApp">
    <title>RegisterApp</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" rel="stylesheet" crossorigin="anonymous">
  <link href="style.css" rel="stylesheet">

</head>
<html> 
<body>
  <header>
    <div class="container" style="width: 30%">
      <h1>RegisterApp</h1>
    </div>
  </header>
  <div class="container"style="width: 30%,color: red">
    <div class="error">
      <ul>
          <% for (let n in data.errors) { %>
          <li>
              <%= data.errors[n].msg %>
          </li>
          <% } %>
      </ul>
      <p><%= data.error %></p>
  </div>